.o{
	padding: 0;
	margin: 0;
	width: 300PX;
	text-align: center;
	background: #CA8A8A;
	color: white;
}
.p{
	padding: 0;
	margin: 0;
	width: 300PX;
	text-align: center;
	background: #CEB192;
	color: white;
}
.b{
	color:white;
	width: 175px;
	background-color: #7D7C7C;
	border:0;
}